<div id = "gym-christchurch">
  <img class="gorillaMain" src="images/gym-pic1.jpg" alt="gym christchurch">
  <br>
  <br>
  <br>
  <div>
    <a href="/" class="btn btn-primary btn-lg active" role="button">Home</a>
</div>
  <br>
  <br>
  <br>
  <h3>List of Gym Buddies in Christchurch below</h3>
  {{#each user}}
        <div class="item" id="{{this.id}}">
          <div class="well">
            <h2>{{this.name}}</h2>
            <p><b>Mobile Number</b> <br> <a href="{{this.mobile_number}}">{{this.mobile_number}}</a></p>
            <p><b>Email</b> <br> <a href="mailto:{{this.email}}">{{this.email}}</a></p>
            <p><b>My Gym</b> <br> <a href="{{this.my_gym}}">{{this.my_gym}}</a></p>
            <p><b>My City</b> <br> <a href="{{this.my_city}}">{{this.my_city}}</a></p>
          </div>
        </div>
      {{/each}}
</div>
<!-- Google API below -->
<style>
      #map {
        width: 500px;
        height: 400px;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: -43.5300, lng: 172.6203},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>
