<div id = "gym-christchurch">
  <h1>Gym Finder</h1>
  <h2>List of Gym Buddies in Christchurch below</h2>
  {{#each user}}
        <div class="item" id="{{this.id}}">
          <div class="well">
            <h2>{{this.name}}</h2>
            <p><b>Mobile Number</b> <br> <a href="{{this.mobile_number}}">{{this.mobile_number}}</a></p>
            <p><b>Email</b> <br> <a href="mailto:{{this.email}}">{{this.email}}</a></p>
            <p><b>My Gym</b> <br> <a href="{{this.my_gym}}">{{this.my_gym}}</a> </p>
            <p><b>My City</b> <br> <a href="{{this.my_city}}">{{this.my_city}}</a> </p>
          </div>
        </div>
      {{/each}}
</div>
